<app-employee-navbar></app-employee-navbar>
<div class="container">
    <div class="row mt-5">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Name: {{data[0].name}}</h5>
                  <h5 class="card-title">Designation: {{data[0].designation}}</h5>
                  <p>Phone: {{data[0].phone}}</p>
                  <p>Email: {{data[0].email}}</p>
                  <p>Address : {{data[0].address}}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Casual Leave: {{count[0].casualLeave}}</li>
                  <li class="list-group-item">Sick Leave: {{count[0].sickLeave}}</li>
                  <li class="list-group-item">Special Leave: {{count[0].specialLeave}}</li>
                </ul>
              </div>
        </div>
    </div>
</div>
